
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-image: url("../imagenes_comida/textura-mexicana-de-handmage-42745262.webp");

    position: relative;
    height: 80px;
    padding-top: 15px;
    box-shadow: 0 0 15px black;
    padding-left: 20px;
    
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff5bacc;
    z-index: 0;
}

header * {
    position: relative;
    z-index: 1;
}

.intro {
    padding-top: 25px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    text-align: center;
                

}



body {
    background-image: 
    url("../imagenes_comida/cute-food-iphone-1920-x-1920-mox5fi865stxpzmk.jpg");
    background-position: center;
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 20% 50%;
    min-height: 100vh;
    text-align: center;
}

body::before {
    content: ""; /* si o si lo necesita el before*/
    position: fixed; /*Coloca la capa fija en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 194, 189, 0.815);
    z-index: -1;
}

img {
    width: 500px;
    height: auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color:  #fff5badc;
}

th, td {
    border: 1px solid black;
    padding: 2px;
}

ul {
    list-style-type: disc;
    
}

ol {
    list-style-type: decimal;
    
}

ul, ol {
    list-style-position: inside; /* hace que la viñeta forme parte del texto */
    text-align: center;           /* centra el texto y la viñeta */
    padding-left: 0;              /* eliminamos padding extra */
    margin: 10px 0;               /* opcional, separación de otras secciones */
}

