.paisaje {
    width:100%;
    height: 700px;
}
.paisaje img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    position: relative;
    
}
* {
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
    height: auto;
   
    position: static;
    z-index: 1;  
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(6, 38, 41);
    color: white;
    height: 7rem;

}

header .conteiner {
    display: flex;
    align-items: center;
    
}
header h1 {
    margin-right: 0px;
}


