* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container div { 
  background: rgb(126, 126, 126);
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(248, 182, 0);
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(9, 179, 209, 0.719);
}

a {
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    color: rgb(248, 182, 0);
    
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 30px;
    font-size: 2em;
    color: rgb(248, 182, 0);
}

body {
    background-color: rgb(58, 56, 56);
}