/* ====== HEADER ====== */
header {
    text-align: center;
    padding: 60px 40px;
    margin: 60px auto 40px;

    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 24px;

    max-width: 800px;

    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

/* Título principal */
header h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.8rem;
    color: #6d4d2c;
    letter-spacing: 1px;
}


/* Texto del header */
header p {
    max-width: 650px;
    margin: 14px auto;
    font-size: 1.3rem;
    line-height: 1.7;
    opacity: 0.92;
}

/* Subtítulo “Algunos dinosaurios…” */
h3 {
    margin-top: 70px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

    

/* Tarjeta que contiene imagen + texto */
.dino-card{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;

    background: rgba(187, 183, 161, 0.7); /* fondo para legibilidad */
    border-radius: 15px;
    backdrop-filter: blur(4px);           /* efecto suave */
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* La imagen */
.dino-card img {
    width: 280px;
    height: auto;
    border-radius: 12px;
}

/* Texto */
.dino-text {
    flex: 1;
}
/* Para pantallas pequeñas */
@media (max-width: 750px) {
    .dino-card {
        flex-direction: column;
        text-align: center;
    }

    .dino-card img {
        width: 80%;
    }
}

/* Textura de fondo SIEMPRE visible */
body {
    background-color: antiquewhite;
    background-image: url("./imagenes/istockphoto-1325942344-612x612.jpg"); /* textura */
    background-size: cover;
    background-repeat: no-repeat;
}

/* Patrón encima con opacidad controlada */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    background-image: url("./imagenes/4f9f3b3c8623814ac21b23b480965e10.jpg"); /* patrón */
    background-repeat: repeat;
    background-size: 144px 144px;

    opacity: 0.15; /* puedes ajustar este valor */
}


/* ---------------- OTROS ESTILOS ---------------- */

.Dinosaurios img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

ul.dino-links {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 25px;
    
}

ul.dino-links li a {
    text-decoration: none;
    background-color: #8b2a0c;
    color: bisque;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.5s;
}

ul.dino-links li a:hover {
    background-color: #91a00e;
}

.dino-card {
    background-color: #8b2a0c;
    color: bisque;
    font-size: 15px;

}

hr {
    border: none;
    height: 6px;
    width: 75%;
    margin: 40px auto;
    background: linear-gradient(to right, #6b4a2b, #3b2a18, #6b4a2b);
    border-radius: 4px;
}
